[submodule "Carthage/Checkouts/Box"]
	path = Carthage/Checkouts/Box
	url = https://github.com/robrix/Box.git
[submodule "Carthage/Checkouts/Runes"]
	path = Carthage/Checkouts/Runes
	url = https://github.com/thoughtbot/Runes.git
[submodule "Carthage/Checkouts/SWXMLHash"]
	path = Carthage/Checkouts/SWXMLHash
	url = https://github.com/drmohundro/SWXMLHash.git
[submodule "Carthage/Checkouts/SwiftXPC"]
	path = Carthage/Checkouts/SwiftXPC
	url = https://github.com/jpsim/SwiftXPC.git
[submodule "Carthage/Checkouts/Argo"]
	path = Carthage/Checkouts/Argo
	url = https://github.com/thoughtbot/Argo.git
[submodule "Carthage/Checkouts/SourceKitten"]
	path = Carthage/Checkouts/SourceKitten
	url = https://github.com/jpsim/SourceKitten.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/ReactiveTask"]
	path = Carthage/Checkouts/ReactiveTask
	url = https://github.com/Carthage/ReactiveTask.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
